h1 {
    font-family: arial, sans-serif;
    font-size: 34px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 50px;
}

h3 {
    font-family: arial, sans-serif;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.content {
    max-width: 1000px;
    margin: auto;
}

textarea {
    width: 800px;
    height: 110px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 1px;
    background-color: #f8f8f8;
    resize: none;
}

textarea:focus {
      background-color: lightblue;
}

.button {
    height: 110px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #398d3c;
    border-radius: 1px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.txtArea, .button{
    display:inline-block;
    vertical-align: top;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

blockquote {
    font-style:italic;
    line-height:32px;
    font-size:20px;
    color:#fff;
    background: #4fc3f7;
    margin:10px;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
}

blockquote:before,
blockquote:after {
    position: relative;
    vertical-align: middle;
    font-family: 'Playfair Display', serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 0;
    color: #FBC02D;
}
blockquote:before {
    left: -5px;
    content: '\201C';
}
blockquote:after {
    content: '\201D';
}

result {
    line-height:32px;
    font-size:20px;
    color:#fff;
    background: #4fc3f7;
    margin: 430px;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
}
result:before,
result:after {
    position: relative;
    vertical-align: middle;
    font-family: 'Playfair Display', serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 0;
    color: #FBC02D;
}
